<div class="app-book-detail-container">
  <app-spinner *ngIf="isSpinner"></app-spinner>
  <div class="main-row" *ngIf="bookDetail && !isSpinner">
    <div class="main-col">
      <div class="content-row">
        <div class="image-col">
          <img src="http://localhost:8000/{{bookDetail.image}}" alt="Hình bìa sách Tôi thấy hoa vàng trên cỏ xanh">
        </div>
        <div class="detail-col">
          <div class="child-detail-row">
            <div class="top-child-detail-col">
              <div style="display: flex;justify-content: space-between;">
                <div style="width: 100%;">
                  <h4 class="book-title">[{{bookDetail.category.toUpperCase()}}] - {{bookDetail.title}}</h4>
                </div>
                <div>
                  <button mat-mini-fab [mat-menu-trigger-for]="mainMenu" color="primary">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
              </div>
            <p class="book-description">{{bookDetail.description}}</p>
            <span class="book-price">
              {{bookDetail.price | currency:'VND':true}}
            </span>
            </div>
            <div class="bottom-child-detail-col">
              <div>
                <p class="quantity-title">Quantity: </p>
                <div style="display: inline-block;">
                  <button mat-icon-button color="primary" (click)="onDecreaseQuantity()" [disabled]="totalAmount === 0">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                  <input class="quantity-input" type="number" min="0" max="{{bookDetail.quantity}}" [value]="totalAmount" (keyup)="onChangeQuantity($event)">
                  <button mat-icon-button color="primary" (click)="onIncreaseQuantity()" [disabled]="totalAmount === bookDetail.quantity">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>
              <button mat-raised-button color="primary" class="add-cart-button" (click)="addCart()">
                <mat-icon>shopping_cart</mat-icon>
                {{addCartButtonName.toUpperCase()}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-menu #mainMenu>
    <button mat-menu-item>
      <mat-icon>create</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete_outline</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</div>
