<div class="app-header-container">
  <p>
    <mat-toolbar color="primary">
      <a class="home-logo" routerLink="/">
        <mat-icon>bubble_chart</mat-icon>
        <span class="mr-12 ml-12">NT BOOKSTORE</span>
      </a>
      <span class="example-spacer"></span>
      <input *ngIf="showSearchInput" type="search" class="search-input" placeholder="Search">
      <button
        class="mr-12 ml-12"
        mat-icon-button
        [matBadge]="cartCount"
        matBadgePosition="before"
        matBadgeColor="accent"
        matBadgeSize="small"
        (click)="goToPage('cart')"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button [mat-menu-trigger-for]="mainMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <mat-menu #mainMenu>
    <!-- <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button> -->
    <button mat-menu-item (click)="onSignOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</div>
