.app-header-container {
  .home-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .search-input {
    margin-right: 32px;
    padding: 0 8px;
    height: 32px;
    width: 250px;
    border-radius: 8px;
    border: none;
  }
}
