.app-book-detail-container {
  height: 100%;
  .main-row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-col {
      .example-large-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;
        padding: 16px;
        border-radius: 8px;
      }

      .example-large-box {
        height: 300px;
        width: 300px;
      }
    }
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
