<div class="app-login-container">
  <div class="main-row">
    <div class="main-col">
      <mat-toolbar color="primary" style="justify-content: center;">
        <mat-icon>bubble_chart</mat-icon>
        <span class="mr-12 ml-12" data-testid="logo-title">NT BOOKSTORE</span>
      </mat-toolbar>
      <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Sign In">
          <div class="example-large-box sign-in-large-box mat-elevation-z4">
            <form
              [formGroup]="signInForm"
              (ngSubmit)="signIn(signInForm.value)"
              style="min-width: 300px;"
              data-testid="sign-in-form"
            >
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="xdt@bookstore.com" formControlName="email" data-testid="sign-in-email">
              </mat-form-field>
              <app-field-error-display
                [formGroup]="signInForm"
                fieldControl="email"
                [errors]="emailErrors"
              ></app-field-error-display>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" data-testid="sign-in-password">
              </mat-form-field>
              <app-field-error-display
                [formGroup]="signInForm"
                fieldControl="password"
                [errors]="passwordErrors"
              ></app-field-error-display>

              <button
                [disabled]="signInForm.invalid"
                mat-raised-button
                color="primary"
                type="submit"
                style="width: 100%;"
                data-testid="sign-in-button"
              >Sign In</button>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Sign Up">
          <div class="example-large-box sign-up-large-box mat-elevation-z4">
            <form
              [formGroup]="signUpForm"
              (ngSubmit)="signUp(signUpForm.value, sigUpFormDirective)"
              #sigUpFormDirective="ngForm"
              style="min-width: 300px;"
              data-testid="sign-up-form"
            >
              <mat-form-field id="mat-full-name" class="example-full-width" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="fullName" data-testid="sign-up-fullName">
              </mat-form-field>
              <app-field-error-display
                [formGroup]="signUpForm"
                fieldControl="fullName"
                [errors]="passwordErrors"
              ></app-field-error-display>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="xdt@bookstore.com" formControlName="email" data-testid="sign-up-email">
              </mat-form-field>
              <app-field-error-display
                [formGroup]="signUpForm"
                fieldControl="email"
                [errors]="emailErrors"
              ></app-field-error-display>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" data-testid="sign-up-password">
              </mat-form-field>
              <app-field-error-display
                [formGroup]="signUpForm"
                fieldControl="password"
                [errors]="passwordErrors"
              ></app-field-error-display>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password" data-testid="sign-up-confirmPassword">
              </mat-form-field>
              <app-field-error-display
                [formGroup]="signUpForm"
                fieldControl="confirmPassword"
                [errors]="confirmPasswordErrors"
              ></app-field-error-display>

              <button
                [disabled]="signUpForm.invalid"
                mat-raised-button
                color="primary"
                type="submit"
                style="width: 100%;"
                data-testid="sign-up-button"
              >Sign Up</button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
