.app-login-container {
  height: 100%;
  .main-row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-col {
      .example-large-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;
        padding: 16px;
        border-radius: 8px;
      }

      .sign-up-large-box {
        height: 400px;
        width: 300px;
      }
      .sign-in-large-box {
        height: 250px;
        width: 300px;
      }
    }
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.error-message {
  font-size: 12px;
  color: red;
  margin: -12px 0 12px 0;
  font-style: italic;
}
