<div class="app-book-detail-container">
  <app-spinner *ngIf="isSpinner"></app-spinner>
  <div class="main-row" *ngIf="bookDetail && !isSpinner">
    <div class="main-col">
      <div class="content-row">
        <div class="image-col">
          <img src="http://localhost:8000/{{bookDetail.image}}" alt="Hình bìa sách Tôi thấy hoa vàng trên cỏ xanh">
        </div>
        <div class="detail-col">
          <div class="child-detail-row">
            <div class="top-child-detail-col">
              <h4 class="book-title">[{{bookDetail.category.toUpperCase()}}] - {{bookDetail.title}}</h4>
              <p class="book-description">{{bookDetail.description}}</p>
              <span class="book-price">
                {{bookDetail.price | currency:'VND':true}}
              </span>
            </div>
            <div class="bottom-child-detail-col">
              <div>
                <p class="quantity-title">Quantity: </p>
                <div style="display: inline-block;">
                  <button mat-icon-button color="primary">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                  <input class="quantity-input" type="number" min="0" max="{{bookDetail.quantity}}" [defaultValue]="0">
                  <button mat-icon-button color="primary">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>
              <button mat-raised-button color="primary" class="add-cart-button">
                <mat-icon>shopping_cart</mat-icon>
                {{addCartButtonName.toUpperCase()}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
