<div class="add-book-form-dialog-container">
  <h3 style="font-weight: bold;">Add New Book Form</h3>
  <form
    [formGroup]="addBookForm"
    (ngSubmit)="onSave()"
  >
    <div class="upload-image-row">
      <div class="upload-image-button-col">
        <input type="file" name="image" formControlName="image" (change)="onImageSelect($event)" id="uploadImage" hidden/>
        <label class="upload-image-button" for="uploadImage">Choose Image</label>
      </div>
      <div class="show-image-col">
        <img id="book-image" [src]="imageSrc" alt="book-image" *ngIf="imageSrc">
      </div>
    </div>

    <div class="first-field-group-row">
      <div class="title-field-col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <app-field-error-display
          [formGroup]="addBookForm"
          fieldControl="title"
          [errors]="titleErrors"
        ></app-field-error-display>
      </div>

      <div class="category-field-col">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.key">
              {{category.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-field-error-display
          [formGroup]="addBookForm"
          fieldControl="category"
          [errors]="categoryErrors"
        ></app-field-error-display>
      </div>
    </div>

    <div class="second-field-group-row">
      <div class="quantity-field-col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity">
        </mat-form-field>
        <app-field-error-display
          [formGroup]="addBookForm"
          fieldControl="quantity"
          [errors]="quantityErrors"
        ></app-field-error-display>
      </div>

      <div class="price-field-col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price">
        </mat-form-field>
        <app-field-error-display
          [formGroup]="addBookForm"
          fieldControl="price"
          [errors]="priceErrors"
        ></app-field-error-display>
      </div>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="18">
        ></textarea>
      </mat-form-field>
      <app-field-error-display
          [formGroup]="addBookForm"
          fieldControl="description"
          [errors]="descriptionErrors"
        ></app-field-error-display>
    </div>

    <div class="save-button-row">
      <button mat-raised-button color="primary" type="submit" style="width: 30%;">Save</button>
    </div>
  </form>
</div>
