.app-book-list-container {
  .main-row {
    display: flex;
    justify-content: center;
    .main-col {
      .book-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 12px 24px;
      }
      .number-books {
        margin: 0;
        font-weight: bold;
      }
      .book-detail {
        background-color: #673ab72b;
        border: 1px solid #8080806b;
        border-radius: 12px;
        padding: 12px 24px;
        margin-bottom: 12px;
        display: block;
        text-decoration: none;
        color: #000;
        .book-title {
          margin: 0;
          font-weight: bold;
        }
        .book-price {
          margin-top: 4px;
          text-align: center;
          font-style: italic;
          background: #f94611b8;
          display: block;
          width: 72px;
          padding: 4px;
          border-bottom-right-radius: 12px;
          border-top-left-radius: 12px;
          color: white;
          font-weight: 500;
        }
      }
      .book-detail:nth-child(2n + 1) {
        background-color: #673ab714;
      }
      .book-detail:hover {
        background-color: #673ab77a;
        transition: 0.8s;
      }
    }
  }
  @media (min-width: 1200px) {
    .main-col {
      width: 1100px;
    }
  }
  @media (max-width: 1200px) {
    .main-col {
      width: 900px;
    }
  }
  @media (max-width: 992px) {
    .main-col {
      width: 750px;
    }
  }
  @media (max-width: 768px) {
    .main-col {
      width: 650px;
    }
  }
}
